.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.news-link {
    text-decoration: none;
    color: #333;
}

.hr {
    margin: 0;
    width: 50px;
    border: none;
    border-bottom: 1px solid #7b7b7b;
}

@media (min-width: 768px) {
    .section {
        max-width: 40%;
    }
}