footer {
    margin-top: 50px;
    font-size: 20px;
}

.link {
    color: #39f;
    text-decoration: none;
}

.footer-hr {
    margin-top: 1rem;
}

.footer-info {
    padding-top: 10px;
    font-size: 1rem;
}